.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 15vw;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle{
  font-size: 5vw;
  margin-bottom: 6vw;
}