<div *ngIf="olympic" class="details-container">
    <button (click)="goBack()" class="back-button" [style.color]="countryColor">←</button>
    <div class="country-title" [style.backgroundColor]="countryColor">
        {{ olympic.country }}
    </div>
    <div class="statistics">
        <div class="stat" [style.borderColor]="countryColor">
            <div class="stat-title">Number of entries</div>
            <div class="value">{{ totalEntries }}</div>
        </div>
        <div class="stat" [style.borderColor]="countryColor">
            <div class="stat-title">Total number medals</div>
            <div class="value">{{ totalMedals }}</div>
        </div>
        <div class="stat" [style.borderColor]="countryColor">
            <div class="stat-title">Total number of athletes</div>
            <div class="value">{{ totalAthletes }}</div>
        </div>
    </div>
    <div class="chart-container">
        <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="'line'">
        </canvas>
    </div>
</div>
