.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.country-title {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 2.5vw;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 1vh;
    margin-bottom: 5vh;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.stat {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    margin: 5px;
    min-width: 100px;
    border: 2px solid; // Permet de définir la couleur du pays
}

.stat-title {
    color: grey;
    margin-bottom: 2px;
}

.stat .value {
    font-size: 1.2vw;
    font-weight: 600;
}

.chart-container {
    width: 100%;
    max-width: 800px;
}

.back-button {
    background-color: transparent;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 3.5vw;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: 5px;
}

.back-button:hover {
    transform: scale(1.25);
}

.back-button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .country-title {
        font-size: 5vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .statistics {
        flex-direction: column;
        align-items: center;
    }

    .stat {
        width: 80%;
        max-width: 300px;
    }

    .stat .value {
        font-size: 4vw;
    }
}

@media (min-width: 1200px) {
    .country-title {
        font-size: 2.5vw;
    }

    .stat .value {
        font-size: 1vw;
    }
}